[submodule "external/C-Thread-Pool"]
	path = external/C-Thread-Pool
	url = https://github.com/Pithikos/C-Thread-Pool.git
[submodule "external/cglm"]
	path = external/cglm
	url = https://github.com/recp/cglm.git
